# 1.	Python

### Написать генератор первых n чисел фибоначчи. Сигнатура: def fibonacci_generator(n)

In [8]:
def fibonacci_generator(n):
    prev, curr = 0, 1
    for _ in range(n):
        yield curr
        prev, curr = curr, curr + prev

In [9]:
# вывести первые 10 чисел фибоначи
n = 10
for num in fibonacci_generator(n):
    print(num)

1
1
2
3
5
8
13
21
34
55

### Используя <u>`pandas`</u> загрузите из текущей директории `titanic_train.csv` и ответьте на вопросы:
 * **Сколько мужчин / женщин находилось на борту?**
 * **Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?**
 * **Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:**
- В среднем мужчины 1-го класса старше 40 лет
- В среднем женщины 1-го класса старше 40 лет
- Мужчины всех классов в среднем старше женщин того же класса
- В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [ ]:
!pip install pandas

In [10]:
import pandas as pd
data = pd.read_csv('titanic_train.csv', index_col='PassengerId')

In [14]:
round(100 * pd.crosstab(data['Sex'], data['Survived'], normalize='index'), 1)

Survived     0     1
Sex
female    25.8  74.2
male      81.1  18.9

In [15]:
pd.crosstab(data['Pclass'], data['Sex'], data['Age'], aggfunc='mean', margins=True)

Sex        female       male        All
Pclass
1       34.611765  41.281386  38.233441
2       28.722973  30.740707  29.877630
3       21.750000  26.507589  25.140620
All     27.915709  30.726645  29.699118

### Каковы преимущества numpy массивов (`ndarray`) над обычными списками (`list`) ? <br/> Каковы недостатки/ограничения ?

**_Answer_**:

`ndarray` objects are multidimensional, homogeneous arrays of fixed-size.

* The ndarray object has built-in dimensions (axes).
* The ndarray object is immutable, its length (size) is fixed.
* It only allows for a single data type (np.dtype) for the whole array.

* storing large matricies - lower memory usage of ndarray
* various linear algebra operations (e.g. sum/dot product/determinant of matricies) - much higher performance than loops over regular data structures

# 2.	ML

### Что такое кроссвалидация (k-fold cross-validation) и зачем она нужна?

### Какие существуют методы кодирования категориальных признаков (фич)?